

<section class="card-container container" id="all">
  <div class="cards">
    {% for product in products %}
            <div class="cards__content">
                <div class="card" data-index="{{ forloop.index0 }}">
                    <img src="/assets/{{ product.image }}" alt="Imagen {{ forloop.index }}" />
                </div>
                <div class="cards__content-container">
                    <div>
                        <p>
                            {{ product.title }}
                        </p>
                        <p>
                            {{product.price}} USD
                        </p>
                    </div>
                    <div>
                        <button class="button button__cart button__round">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none" style=""><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.167 2.167h1.415c.266 0 .4 0 .507.049a.542.542 0 0 1 .23.2c.064.099.083.23.12.495L4.953 6.5m0 0 1.14 8.376c.145 1.063.217 1.594.47 1.994.225.352.546.633.925.807.43.198.967.198 2.04.198h9.27c1.022 0 1.533 0 1.95-.184.368-.162.683-.423.911-.754.259-.376.354-.877.545-1.88l1.434-7.528c.068-.353.101-.53.052-.668a.542.542 0 0 0-.238-.287c-.126-.074-.306-.074-.665-.074H4.952Zm5.881 16.25a1.083 1.083 0 1 1-2.166 0 1.083 1.083 0 0 1 2.166 0Zm8.667 0a1.083 1.083 0 1 1-2.167 0 1.083 1.083 0 0 1 2.167 0Z" style=""></path></svg>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
  </div>
  <div class="card-container__button">
    <button class="load-more-btn  button hero__button">VIEW ALL</button>
  </div>
</section>
